<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="refresh" content="3"> 
  <link rel="shortcut icon" href="/static/favicon.ico">
  <title>IRQs</title>
</head>

<body style="background-color:#181a1b;color:#e8e6e3;">
  <h1 style="color: blue">
    <img src="/static/tux_boca.png" alt="Tux de Boca" style="float:right;width:128px;height:128px;">
    IRQ</h1>
  <p>Interrupciones actualmente en funcionamiento en el servidor:</p>
  <iframe frameborder="0"
          style="position: absolute;
                 background: transparent;
                 width: 90%;
                 height:95%;"
          src="/plain"></iframe>
</body>
